* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}@font-face {font-family: Montserrat;font-display: swap;src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: Montserrat;font-display: swap;src: url("../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2");font-weight: 800;font-style: normal;}
@font-face {font-family: Montserrat;font-display: swap;src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face {font-family: Manrope;font-display: swap;src: url("../assets/fonts/Manrope-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: Manrope;font-display: swap;src: url("../assets/fonts/Manrope-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Manrope;font-display: swap;src: url("../assets/fonts/Manrope-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
:root {
  --font-family: Manrope, sans-serif;
  --second-family: Montserrat, sans-serif;
  --red: #c3191f;
  --black: #202022;
  --white: #f0efef;
  --grey: #a5a4a4;
  --light-grey: #dde0e1;
}

body {
  min-width: 320px;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 20px;
  background-color: var(--white);
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-family: var(--second-family);
  text-transform: uppercase;
  font-weight: 600;
  word-break: break-word;
}
.title--h1 {
  font-weight: 800;
  line-height: 95%;
}
.title--h2 {
  font-weight: 700;
  line-height: 95%;
}
.title--h3 {
  line-height: 95%;
}
.title--h4 {
  line-height: 100%;
}
.title--h5 {
  line-height: 110%;
}
.title--h6 {
  line-height: 100%;
}

.color-red {
  color: var(--red);
}

.button,
.button-empty,
.button-dark,
.button-white {
  max-width: fit-content;
  border-radius: 20px;
  padding: 20px 40px;
  min-height: 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-weight: 600;
  font-size: 24px;
  border: 1px solid var(--red);
  background-color: var(--red);
  color: var(--white);
  transition: border 0.3s, background 0.3s, color 0.3s;
}
.button svg,
.button-empty svg,
.button-dark svg,
.button-white svg {
  width: 29px;
  height: 29px;
}
.button[disabled],
.button-empty[disabled],
.button-dark[disabled],
.button-white[disabled] {
  pointer-events: none;
  background-color: var(--grey);
  border-color: var(--grey);
}
.button--middle,
.button-empty--middle,
.button-dark--middle,
.button-white--middle {
  padding: 12px 20px;
  min-height: 80px;
  font-size: 20px;
}
.button--middle svg,
.button-empty--middle svg,
.button-dark--middle svg,
.button-white--middle svg {
  width: 23px;
  height: 23px;
}
.button--small,
.button-empty--small,
.button-dark--small,
.button-white--small {
  padding: 10px 20px;
  min-height: 66px;
  font-size: 18px;
}
.button--small svg,
.button-empty--small svg,
.button-dark--small svg,
.button-white--small svg {
  width: 19px;
  height: 19px;
}
.button__text-2,
.button-empty__text-2,
.button-dark__text-2,
.button-white__text-2 {
  display: none;
}

.button-empty {
  background-color: transparent !important;
  color: var(--red);
}
.button-empty[disabled] {
  color: var(--grey);
}
.button-empty.button-dark {
  color: var(--black);
}
.button-empty.button-dark[disabled] {
  color: var(--grey);
}
.button-empty.button-white {
  color: var(--white);
}

.button-dark {
  background-color: var(--black);
  border-color: var(--black);
}
.button-dark[disabled] {
  pointer-events: none;
  background-color: var(--grey);
  border-color: var(--grey);
}

.button-white {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--black);
}

.section-bg-decor {
  background-image: url("../assets/img/bg.svg");
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100% auto;
  position: relative;
  z-index: 2;
}
.section-bg-decor::before, .section-bg-decor::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 135px;
  pointer-events: none;
  background: linear-gradient(180deg, #f0efef 0%, rgba(240, 239, 239, 0.2) 100%);
}
.section-bg-decor::before {
  top: -68px;
}
.section-bg-decor::after {
  bottom: -68px;
  background: linear-gradient(0deg, #f0efef 0%, rgba(240, 239, 239, 0.2) 100%);
}

.slider-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.slider-bottom__arrows {
  display: flex;
  align-items: center;
  gap: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  transition: color 0.3s;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px 20px;
}
.swiper-pagination.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--grey);
  transition: background 0.3s;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--red);
}

.product-card {
  border: 1px solid var(--grey);
  border-radius: 29px;
  padding: 50px 44px;
}
.product-card > *:not(:last-child) {
  margin-bottom: 26px;
}
.product-card--small {
  border-radius: 20px;
  padding: 38px 30px;
}
.product-card--small > *:not(:last-child) {
  margin-bottom: 18px;
}
.product-card__img {
  border-radius: 30px;
  overflow: hidden;
  aspect-ratio: 464/380;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.product-card__img:not(:last-child) {
  margin-bottom: 15px;
}
.product-card__img img {
  border-radius: 30px;
  width: 100%;
  object-fit: cover;
}
.product-card--small .product-card__img {
  border-radius: 20px;
}
.product-card--small .product-card__img:not(:last-child) {
  margin-bottom: 10px;
}
.product-card--small .product-card__img img {
  border-radius: 20px;
}
.product-card__title {
  text-align: center;
  font-family: var(--second-family);
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-card__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-card--small .product-card__info {
  gap: 4px;
}
.product-card__row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1.2fr;
  gap: 10px;
}
.product-card__label {
  font-weight: 600;
  line-height: 100%;
  color: var(--grey);
}
.product-card--small .product-card__label {
  font-weight: 500;
  font-size: 18px;
}
.product-card__value {
  line-height: 130%;
  word-break: break-word;
}
.product-card--small .product-card__value {
  font-size: 16px;
  line-height: 110%;
}
.product-card__link {
  max-width: 100%;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.input-field--white .input-field__input {
  border-color: var(--white);
}
.input-field--white .input-field__input::placeholder {
  color: rgba(240, 239, 239, 0.5);
}
.input-field--long {
  flex: 1 1 auto;
}
.input-field__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 95%;
}
.input-field__input {
  border: 1px solid var(--black);
  border-radius: 15px;
  padding: 10px 40px;
  height: 59px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
}
.input-field__input::placeholder {
  color: var(--grey);
  transition: opacity 0.3s;
}
.input-field__input:focus::placeholder {
  opacity: 0;
}
.input-field textarea.input-field__input {
  padding: 20px 40px;
  min-height: 150px;
  resize: vertical;
}

.breadcrumbs {
  margin-bottom: 32px;
  position: relative;
  z-index: 3;
}
.breadcrumbs__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  color: var(--grey);
  transition: color 0.3s;
}
.breadcrumbs__link:not(:last-child)::after {
  content: "/";
}
.breadcrumbs__link.active {
  color: var(--black);
}

.contacts-inner {
  margin-bottom: 140px;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}
.menu__item {
  position: relative;
  border-radius: 24px 24px 0 0;
  transition: background 0.3s;
}
.menu__item.submenu-open {
  background-color: var(--grey);
}
.menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  text-align: center;
  border: 1px solid var(--black);
  border-radius: 24px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  min-width: 146px;
  min-height: 45px;
  transition: background 0.3s, color 0.3s;
}
.menu__toggle::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../assets/img/icons/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  transition: background 0.3s, transform 0.3s;
}
.submenu-open .menu__toggle {
  background-color: var(--grey);
  border-color: var(--grey);
  color: var(--black);
}
.submenu-open .menu__toggle::after {
  background-image: url("../assets/img/icons/arrow-down.svg");
  transform: rotate(-180deg);
}
.menu__btn {
  display: none;
}

.submenu {
  background-color: var(--grey);
  border-radius: 0 0 24px 24px;
  visibility: hidden;
  padding: 5px 16px 10px 16px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  opacity: 0;
  transition: all 0.3s;
}
.submenu-open .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.submenu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.submenu__item {
  display: grid;
}
.submenu__link {
  padding: 5px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  word-break: break-word;
  color: var(--white);
  transition: opacity 0.3s;
}

.icon-menu {
  display: none;
}.checkbox {
  display: inline-block;
  position: relative;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus-visible + .checkbox__text {
  outline: 1px solid #000;
}
.checkbox__input:checked + .checkbox__text:before {
  background-image: url("../assets/img/icons/check-light.svg");
}
.checkbox--white .checkbox__input:checked + .checkbox__text:before {
  background-image: url("../assets/img/icons/check.svg");
}
.checkbox--white .checkbox__text:before {
  background-color: var(--white);
}
.checkbox__text {
  cursor: pointer;
  position: relative;
  gap: 16px;
  display: inline-flex;
  align-items: center;
}
.checkbox__text:before {
  content: "";
  border-radius: 2px;
  align-self: flex-start;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background-color: var(--black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}.header {
  padding-top: 60px;
  margin-bottom: 80px;
  position: relative;
  z-index: 50;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  width: 100%;
  display: grid;
  grid-template-areas: "body";
}
.header__logo img {
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}
.header__logo-img-1 {
  grid-area: body;
}
[data-fls-menu-open] .header__logo-img-1 {
  opacity: 0;
}
.header__logo-img-2 {
  grid-area: body;
  opacity: 0;
}
[data-fls-menu-open] .header__logo-img-2 {
  opacity: 1;
}
.header__inner {
  display: flex;
  align-items: center;
  gap: 88px;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 9px;
}
.lang-block {
  position: relative;
  border-radius: 24px 24px 0 0;
  transition: background 0.3s;
}
.lang-block.lang-active {
  background-color: var(--grey);
}
.lang-block__current {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  text-align: center;
  border: 1px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  border-radius: 24px;
  padding: 10px 18px;
  min-height: 45px;
  transition: background 0.3s, color 0.3s;
}
.lang-block__current svg {
  transition: transform 0.3s;
}
.lang-active .lang-block__current {
  background-color: var(--grey);
  border-color: var(--grey);
}
.lang-active .lang-block__current svg {
  transform: rotate(-180deg);
}
.lang-block__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--grey);
  border-radius: 0 0 24px 24px;
  padding: 5px 16px 15px 16px;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.3s;
}
.lang-active .lang-block__list {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.lang-block__link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: var(--white);
  transition: opacity 0.3s;
}.footer {
  padding: 80px 0 64px 0;
  border-radius: 30px 30px 0 0;
  background-color: var(--black);
  color: var(--white);
  position: relative;
  z-index: 5;
}
.footer__head {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__head:not(:last-child) {
  margin-bottom: 100px;
}
.footer__title {
  color: var(--red);
  font-weight: 700;
}
.footer__subtitle {
  max-width: fit-content;
  font-weight: 700;
  margin-left: auto;
  text-align: right;
  color: var(--grey);
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer__contacts {
  max-width: 845px;
  width: 100%;
  display: flex;
  gap: 40px;
  border-radius: 30px;
  padding: 52px 64px 64px 64px;
  background-color: var(--white);
  color: var(--black);
}
.footer__socials {
  flex: 0 0 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__soc {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
  transition: color 0.3s;
}
.footer__soc svg,
.footer__soc img {
  width: 100%;
  height: 100%;
}
.footer__rows {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__row {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 246px) 1.5fr;
  gap: 19px;
}
.footer__row-label {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--red);
}
.footer__row-val {
  max-width: fit-content;
  word-break: break-word;
  line-height: 130%;
}
.footer a.footer__row-val {
  transition: color 0.3s;
}
.footer__inner {
  max-width: 644px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer__copy {
  text-align: right;
}
.footer__nav {
  border-radius: 30px;
  padding: 27px 40px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer__menu {
  max-width: 312px;
}
.footer__menu .menu__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.footer__menu .menu__link {
  min-width: 0;
}
.footer__policy {
  max-width: 180px;
  margin-top: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  transition: color 0.3s;
}
.footer__bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer__info-text {
  font-size: 16px;
  line-height: 120%;
  color: rgba(240, 239, 239, 0.5);
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
.footer__info-text svg {
  display: inline-flex;
  width: 24px;
  height: 24px;
  align-self: flex-end;
  color: rgb(240, 239, 239);
}
.footer__info-logo {
  align-self: flex-end;
  max-width: 123px;
}
.footer__info-logo img {
  width: 100%;
  object-fit: cover;
}body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

[data-fls-popup-open] body::after {
  opacity: 1;
}

[data-fls-popup] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
[data-fls-popup][data-fls-popup-active] {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

[data-fls-popup-active] [data-fls-popup-body] {
  visibility: visible;
  transform: scale(1);
}

[data-fls-popup-wrapper] {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-fls-popup-body] {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s, visibility 0.3s ease 0s;
  background-color: var(--white);
  border-radius: 30px;
  padding: 60px;
  width: 100%;
  max-width: 916px;
  position: relative;
}
.popup--small [data-fls-popup-body] {
  max-width: 685px;
}

[data-fls-popup-youtube-place] iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--grey);
  transition: color 0.3s;
}
.popup__close svg {
  width: 100%;
  height: 100%;
}
.popup__content {
  max-width: 565px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.popup__content > *:not(:last-child) {
  margin-bottom: 30px;
}
.popup__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.popup__head:not(:last-child) {
  margin-bottom: 60px;
}
.popup__head > *:not(:last-child) {
  margin-bottom: 12px;
}
.popup__icon {
  border-radius: 16px;
  padding: 10px;
  width: 120px;
  height: 120px;
  display: grid;
  place-content: center;
  background-color: var(--light-grey);
}
.popup__icon img {
  width: 58px;
  height: 58px;
  object-fit: contain;
}
.popup__icon:not(:last-child) {
  margin-bottom: 30px;
}
.popup__text {
  max-width: 450px;
  line-height: 120%;
  color: var(--grey);
}
.popup__form {
  display: flex;
  flex-direction: column;
}
.popup__form > *:not(:last-child) {
  margin-bottom: 20px;
}
.popup__inouts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.popup__inouts:not(:last-child) {
  margin-bottom: 38px;
}
.popup__send {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 110em) {
  .header__inner {
    gap: 20px;
  }
}
@media (max-width: 89.99875em) {
  .product-card--small {
    padding: 30px 20px;
  }
  .menu:not(.footer__menu) .menu__list {
    gap: 12px;
  }
  .menu:not(.footer__menu) .menu__link {
    min-width: 0;
  }
  .footer__row {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
@media (max-width: 84.37375em) {
  .footer__nav {
    flex-direction: column;
  }
  .footer__menu {
    max-width: none;
  }
  .footer__menu .menu__list {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
  .footer__policy {
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 61.99875em) {
  .product-card {
    border-radius: 20px;
    padding: 30px 20px;
  }
  .product-card > *:not(:last-child) {
    margin-bottom: 16px;
  }
  .product-card--small > *:not(:last-child) {
    margin-bottom: 14px;
  }
  .breadcrumbs__link {
    font-size: 18px;
  }
  .menu:not(.footer__menu) .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 113px 20px 30px 20px;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: left 0.3s;
  }
  .menu:not(.footer__menu) .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: var(--red);
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu:not(.footer__menu) .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu:not(.footer__menu) .menu__body::before {
    left: 0;
  }
  .menu:not(.footer__menu) .menu__list {
    flex: 1 1 auto;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
  }
  .menu:not(.footer__menu) .menu__item {
    border-radius: 24px;
  }
  .menu:not(.footer__menu) .menu__item.submenu-open {
    background-color: var(--white);
  }
  .menu:not(.footer__menu) .menu__link {
    width: 100%;
    min-height: 50px;
    border-color: var(--white);
    color: var(--white);
  }
  .menu:not(.footer__menu) .menu__toggle::after {
    background-image: url("../assets/img/icons/arrow-down-light.svg");
  }
  .submenu-open .menu:not(.footer__menu) .menu__toggle {
    background-color: var(--white);
    border-color: var(--white);
  }
  .menu:not(.footer__menu) .submenu {
    background-color: var(--white);
    position: static;
    transform: rotateX(0deg);
    opacity: 1;
    display: grid;
    grid-template-rows: 0fr;
    padding: 0 16px 0 16px;
    transition: grid-template-rows 0.3s, padding 0.3s, visibility 0.3s;
  }
  .menu:not(.footer__menu) .menu__item.submenu-open .submenu {
    grid-template-rows: 1fr;
    padding: 5px 16px 10px 16px;
    visibility: visible;
  }
  .menu:not(.footer__menu) .submenu__link {
    color: var(--black);
    font-size: 18px;
  }
  .menu__btn {
    display: flex;
    max-width: 100%;
  }
  .submenu__list {
    overflow: hidden;
  }
  .icon-menu {
    display: block;
    position: relative;
    min-height: 38px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    border: 1px solid var(--black);
    border-radius: 24px;
    z-index: 5;
    transition: border 0.3s, color 0.3s;
  }
  [data-fls-menu-open] .icon-menu {
    border-color: var(--white);
    color: var(--white);
  }
  .header {
    padding-top: 25px;
    margin-bottom: 37px;
  }
  .header__logo {
    max-width: 113px;
  }
  .header__logo {
    position: relative;
    z-index: 5;
  }
  .header__inner {
    gap: 0;
  }
  .lang-block__current {
    padding: 8px 14px;
    min-height: 38px;
    gap: 4px;
    font-size: 16px;
  }
  .lang-block__list {
    border-radius: 0 0 20px 20px;
  }
  .lang-block__link {
    font-size: 16px;
  }
  .footer {
    border-radius: 20px 20px 0 0;
    padding: 40px 0;
  }
  .footer__head:not(:last-child) {
    margin-bottom: 30px;
  }
  .footer__body {
    flex-direction: column;
    gap: 30px;
  }
  .footer__contacts {
    max-width: none;
    padding: 30px 20px;
  }
  .footer__inner {
    max-width: none;
    gap: 16px;
  }
  .footer__nav {
    padding: 30px 20px;
    gap: 24px;
  }
  .footer__bottom {
    margin-top: 8px;
  }
}
@media (max-width: 47.99875em) {
  body {
    font-size: 16px;
  }
  .title--h6 {
    line-height: 120%;
  }
  .button,
  .button-empty,
  .button-dark,
  .button-white {
    border-radius: 10px;
    min-height: 64px;
    padding: 12px 30px;
    font-size: 18px;
  }
  .button svg,
  .button-empty svg,
  .button-dark svg,
  .button-white svg {
    width: 21px;
    height: 21px;
  }
  .button--middle,
  .button-empty--middle,
  .button-dark--middle,
  .button-white--middle {
    padding: 12px 20px;
    min-height: 58px;
    font-size: 18px;
  }
  .button--small,
  .button-empty--small,
  .button-dark--small,
  .button-white--small {
    padding: 10px 20px;
    min-height: 50px;
    font-size: 14px;
  }
  .button--small svg,
  .button-empty--small svg,
  .button-dark--small svg,
  .button-white--small svg {
    width: 16px;
    height: 16px;
  }
  .button__text-1,
  .button-empty__text-1,
  .button-dark__text-1,
  .button-white__text-1 {
    display: none;
  }
  .button__text-2,
  .button-empty__text-2,
  .button-dark__text-2,
  .button-white__text-2 {
    display: block;
  }
  .section-bg-decor::before, .section-bg-decor::after {
    height: 35px;
  }
  .section-bg-decor::before {
    top: -18px;
  }
  .section-bg-decor::after {
    bottom: -18px;
  }
  .slider-bottom__arrows {
    gap: 30px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
  }
  .swiper-pagination {
    gap: 10px;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .product-card__img {
    border-radius: 20px;
  }
  .product-card__img:not(:last-child) {
    margin-bottom: 10px;
  }
  .product-card__img img {
    border-radius: 20px;
  }
  .product-card--small .product-card__img {
    border-radius: 17px;
  }
  .product-card--small .product-card__img img {
    border-radius: 17px;
  }
  .product-card__title {
    font-size: 20px;
  }
  .product-card--small .product-card__title {
    font-size: 20px;
  }
  .product-card__label {
    font-size: 18px;
  }
  .product-card--small .product-card__label {
    font-size: 16px;
  }
  .product-card--small .product-card__value {
    font-size: 14px;
    line-height: 114%;
  }
  .input-field__label {
    font-weight: 600;
    font-size: 14px;
  }
  .input-field__input {
    font-size: 14px;
    line-height: 114%;
    border-radius: 10px;
    padding: 10px 20px;
    height: 50px;
  }
  .input-field textarea.input-field__input {
    padding: 20px;
    min-height: 120px;
  }
  .breadcrumbs {
    margin-bottom: 20px;
  }
  .contacts-inner {
    margin-bottom: 70px;
  }
  .footer__rows {
    gap: 16px;
  }
  .footer__row-label {
    gap: 10px;
  }
  .footer__row-label svg {
    width: 17px;
    height: 17px;
  }
  [data-fls-popup-body] {
    border-radius: 20px;
    padding: 40px 20px;
  }
  .popup__close {
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
  }
  .popup__head:not(:last-child) {
    margin-bottom: 30px;
  }
  .popup__icon {
    border-radius: 7px;
    padding: 8px;
    width: 50px;
    height: 50px;
  }
  .popup__icon img {
    width: 24px;
    height: 24px;
  }
  .popup__icon:not(:last-child) {
    margin-bottom: 20px;
  }
  .popup__inouts {
    gap: 16px;
  }
  .popup__inouts:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 29.99875em) {
  .title--h1 {
    font-size: 48px;
  }
  .title--h2 {
    font-size: 36px;
  }
  .title--h3 {
    font-size: 34px;
  }
  .title--h4 {
    font-size: 26px;
  }
  .title--h5 {
    font-size: 20px;
  }
  .title--h6 {
    font-size: 18px;
  }
  .footer__contacts {
    flex-direction: column;
    gap: 24px;
  }
  .footer__socials {
    flex: 1 1 auto;
    order: 1;
    flex-direction: row;
  }
  .footer__menu .menu__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 8px;
  }
  .footer__menu .menu__link {
    gap: 3px;
    padding: 10px;
  }
  .footer__policy {
    font-size: 18px;
  }
  .footer__bottom {
    gap: 15px;
  }
  .footer__info-text {
    font-size: 14px;
  }
  .footer__info-text svg {
    width: 18px;
    height: 18px;
  }
  .footer__info-logo {
    max-width: 98px;
  }
}
@media (max-width: 22.49875em) {
  .footer__menu .menu__list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 29.99875em) and (max-width: 110em) {
  .title--h1 {
    font-size: clamp( 48px , -6.7468633303px  +  11.4060717801vw , 194px );
  }
  .title--h2 {
    font-size: clamp( 36px , 0.0020624678px  +  7.4998828143vw , 132px );
  }
  .title--h3 {
    font-size: clamp( 34px , 19.7508163935px  +  2.968703614vw , 72px );
  }
  .title--h4 {
    font-size: clamp( 26px , 11.0008593616px  +  3.1249511726vw , 66px );
  }
  .title--h5 {
    font-size: clamp( 20px , 9.5006015531px  +  2.1874658208vw , 48px );
  }
  .title--h6 {
    font-size: clamp( 18px , 12.0003437446px  +  1.2499804691vw , 34px );
  }
}
@media (min-width: 47.99875em) and (max-width: 110em) {
  .product-card__title {
    font-size: clamp( 20px , 9.1617910929px  +  1.4112618697vw , 34px );
  }
  .product-card--small .product-card__title {
    font-size: clamp( 20px , 15.3550533255px  +  0.6048265156vw , 26px );
  }
  .product-card__label {
    font-size: clamp( 18px , 13.3550533255px  +  0.6048265156vw , 24px );
  }
}
@media (min-width: 61.99875em) and (max-width: 110em) {
  .header__logo {
    max-width: clamp( 113px , -302.8974505872px  +  41.9259915106vw , 435px );
  }
}
@media (min-width: 61.99875em) {
  .hide-pc {
    display: none;
  }
}
@media (min-width: 110em) {
  .title--h1 {
    font-size: 194px;
  }
  .title--h2 {
    font-size: 132px;
  }
  .title--h3 {
    font-size: 72px;
  }
  .title--h4 {
    font-size: 66px;
  }
  .title--h5 {
    font-size: 48px;
  }
  .title--h6 {
    font-size: 34px;
  }
  .product-card__title {
    font-size: 34px;
  }
  .product-card--small .product-card__title {
    font-size: 26px;
  }
  .product-card__label {
    font-size: 24px;
  }
  .header__logo {
    max-width: 435px;
  }
}
@media (any-hover: hover) {
  .button:hover,
  .button-empty:hover,
  .button-dark:hover,
  .button-white:hover {
    background-color: var(--black);
    border-color: var(--black);
  }
  .button-empty:hover {
    background-color: transparent;
    color: var(--black);
    border-color: var(--black);
  }
  .button-empty.button-dark:hover {
    color: var(--red);
  }
  .button-empty.button-white:hover {
    color: var(--red);
  }
  .button-dark:hover {
    background-color: var(--red);
    border-color: var(--red);
  }
  .button-white:hover {
    color: var(--white);
    background-color: var(--red);
    border-color: var(--red);
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: var(--red);
  }
  .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: var(--black);
  }
  .breadcrumbs__link:hover {
    color: var(--black);
  }
  .menu__link:hover {
    background-color: var(--black);
    color: var(--white);
  }
  .menu__toggle:hover::after {
    background-image: url("../assets/img/icons/arrow-down-light.svg");
  }
  .submenu__link:hover {
    opacity: 0.7;
  }
  .lang-block__current:hover {
    background-color: var(--grey);
    border-color: var(--grey);
    color: var(--white);
  }
  .lang-block__link:hover {
    opacity: 0.7;
  }
  .footer__soc:hover {
    color: var(--black);
  }
  .footer a.footer__row-val:hover {
    color: var(--red);
  }
  .footer__policy:hover {
    color: var(--red);
  }
  .popup__close:hover {
    color: var(--black);
  }
}