.product-detail {
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.product-detail__top {
  overflow: hidden;
}
.product-detail__head {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 60px;
}
.product-detail__title {
  max-width: 77%;
  color: var(--red);
}
.product-detail__badge {
  align-self: flex-start;
  max-width: fit-content;
  border: 1px solid var(--red);
  border-radius: 20px;
  padding: 20px 30px;
  min-height: 100px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.product-detail__badge img {
  flex-shrink: 0;
  width: 60px;
  object-fit: cover;
}
.product-detail__images {
  display: grid;
  grid-template-columns: 1.78fr 1fr;
  gap: 20px 40px;
  min-width: 0;
  min-height: 0;
}
.product-detail__slider {
  border: 2px solid var(--grey);
  border-radius: 64px;
  background-color: var(--white);
}
.product-detail__slide {
  display: grid;
}
.product-detail__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-detail__thumbs {
  display: grid;
  border-radius: 30px;
}
.product-detail__thumbs .product-detail__slide {
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--grey);
  border-radius: 30px;
}
.product-detail__nav {
  grid-column: 1/-1;
}
.product-detail__body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}
.product-detail__body:not(:last-child) {
  margin-bottom: 60px;
}
.product-detail__info {
  border: 2px solid var(--grey);
  border-radius: 30px;
  padding: 30px 40px;
}
.product-detail__info > *:not(:last-child) {
  margin-bottom: 20px;
}
.product-detail__info--long {
  grid-column: 1/-1;
}
.product-detail__info-title:not(:last-child) {
  margin-bottom: 30px;
}
.product-detail__quality {
  line-height: 120%;
  font-size: 16px;
}
.product-detail__quality > *:not(:last-child) {
  margin-bottom: 20px;
}
.product-detail__quality-bottom > *:not(:last-child) {
  margin-bottom: 20px;
}
.product-detail__quality-title {
  font-weight: 600;
  line-height: 95%;
  color: var(--red);
}
.product-detail__quality-links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.product-detail__quality-link {
  max-width: fit-content;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  transition: color 0.3s;
}
.product-detail__rows {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-detail__row {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  line-height: 120%;
}
.product-detail__row-label {
  font-weight: 600;
  line-height: 95%;
  word-break: break-word;
}
.product-detail__info-body {
  line-height: 130%;
}
.product-detail__info-body > *:not(:last-child) {
  margin-bottom: 20px;
}
.product-detail__info-body h2,
.product-detail__info-body h3,
.product-detail__info-body h4,
.product-detail__info-body h5,
.product-detail__info-body h6 {
  font-weight: 600;
}
.product-detail__info-body ol,
.product-detail__info-body ul {
  padding-left: 25px;
}
.product-detail__info-body ul li {
  list-style: disc;
}
.product-detail__info-body img {
  width: 100%;
  border-radius: 30px;
}
.product-detail__info-body a {
  font-weight: 600;
  color: var(--red);
  text-decoration: underline;
}
.fixed-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.fixed-block__subtitle {
  max-width: 583px;
  width: 100%;
}
.fixed-block__btns {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.fixed-block__btn {
  flex: 1 1 auto;
  max-width: 100%;
}
@media (max-width: 89.99875em) {
  .product-detail__head {
    flex-wrap: wrap;
  }
  .product-detail__title {
    max-width: 100%;
  }
  .product-detail__images {
    gap: 20px;
  }
  .product-detail__body {
    gap: 20px;
  }
  .product-detail__info {
    padding: 30px;
  }
  .fixed-block__btns {
    gap: 14px;
  }
}
@media (max-width: 68.74875em) {
  .product-detail__body {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 61.99875em) {
  .product-detail__badge {
    font-size: 20px;
    min-height: 80px;
    padding: 20px;
    min-width: 320px;
  }
  .product-detail__badge img {
    width: 35px;
  }
  .product-detail__slider {
    border-radius: 20px;
  }
  .product-detail__thumbs {
    border-radius: 20px;
  }
  .product-detail__thumbs .product-detail__slide {
    border-radius: 20px;
  }
  .product-detail__info {
    border-radius: 20px;
    padding: 30px 20px;
  }
  .product-detail__info > *:not(:last-child) {
    margin-bottom: 16px;
  }
  .product-detail__info-title:not(:last-child) {
    margin-bottom: 20px;
  }
  .product-detail__quality > *:not(:last-child) {
    margin-bottom: 16px;
  }
  .product-detail__info-body > *:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media (max-width: 47.99875em) {
  .product-detail {
    margin-bottom: 70px;
    gap: 30px;
  }
  .product-detail__head {
    margin-bottom: 35px;
  }
  .product-detail__badge {
    font-size: 18px;
  }
  .product-detail__images {
    height: 500px;
  }
  .product-detail__images {
    grid-template-columns: 1fr;
    height: auto;
    gap: 16px;
  }
  .product-detail__slider {
    border: 1px solid var(--grey);
  }
  .product-detail__thumbs {
    display: none;
  }
  .product-detail__body:not(:last-child) {
    margin-bottom: 24px;
  }
  .product-detail__quality-bottom > *:not(:last-child) {
    margin-bottom: 16px;
  }
  .product-detail__quality-link {
    font-size: 16px;
  }
}
@media (max-width: 40.62375em) {
  .product-detail__row {
    grid-template-columns: 1fr;
    gap: 4px;
  }
  .fixed-block {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    border-radius: 20px 20px 0 0;
    padding: 15px;
    background-color: var(--light-grey);
    flex-direction: column;
    align-items: stretch;
    transition: bottom 0.6s ease;
  }
  .fixed-block.hide {
    bottom: -105%;
  }
  .fixed-block__subtitle {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .product-detail__title {
    font-size: 32px;
  }
  .product-detail__badge {
    max-width: 100%;
    width: 100%;
    min-width: 0;
  }
  .product-detail__quality-title {
    font-size: 18px;
  }
  .product-detail__row-label {
    font-size: 18px;
  }
}
@media (min-width: 29.99875em) and (max-width: 110em) {
  .product-detail__title {
    font-size: clamp( 32px , -5.4978515961px  +  7.8123779316vw , 132px );
  }
  .product-detail__quality-title {
    font-size: clamp( 18px , 15.7501289042px  +  0.4687426759vw , 24px );
  }
  .product-detail__row-label {
    font-size: clamp( 18px , 15.7501289042px  +  0.4687426759vw , 24px );
  }
}
@media (min-width: 47.99875em) and (max-width: 110em) {
  .product-detail__images {
    height: clamp( 500px , 321.9437108123px  +  23.1850164311vw , 730px );
  }
}
@media (min-width: 110em) {
  .product-detail__title {
    font-size: 132px;
  }
  .product-detail__images {
    height: 730px;
  }
  .product-detail__quality-title {
    font-size: 24px;
  }
  .product-detail__row-label {
    font-size: 24px;
  }
}
@media (any-hover: hover) {
  .product-detail__quality-link:hover {
    color: var(--red);
    text-decoration: none;
  }
  .product-detail__info-body a:hover {
    text-decoration: none;
  }
}