.hero {
  padding-top: 36px;
  margin-bottom: 140px;
  position: relative;
  z-index: 3;
}
.hero__body {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 37px;
}
.hero__title {
  color: var(--red);
}
.hero__inner {
  grid-row: 2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 37px;
}
.hero__content {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 112px;
}
.hero__btns {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.hero__btn {
  max-width: 100%;
}
.hero__items {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}
.hero__item {
  flex: 1 1 auto;
  width: calc(50% - 13px);
  border: 1px solid var(--red);
  background-color: var(--white);
  border-radius: 20px;
  padding: 34px 24px;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.hero__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 95%;
  color: var(--red);
}
.hero__item-img {
  flex-shrink: 0;
  max-width: 60px;
  width: 100%;
}
.hero__item-img img {
  width: 100%;
  object-fit: cover;
}
.hero__descr {
  margin-top: auto;
  max-width: 695px;
  background-color: var(--white);
  border-radius: 19px;
  padding: 40px 46px;
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
}
.hero__descr span {
  color: var(--red);
}
.hero__img {
  position: relative;
  z-index: -1;
}
.hero__img img {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 50px rgba(22, 22, 22, 0.4));
}.we-produce {
  margin-bottom: 140px;
}
.we-produce__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.we-produce__btn {
  max-width: 357px;
  width: 100%;
}
.we-produce__slider {
  overflow: visible;
  min-width: 0;
}
.we-produce__slider:not(:last-child) {
  margin-bottom: 30px;
}
.we-produce__card {
  background-color: var(--grey);
  border-radius: 20px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}
.we-produce__card > *:not(:last-child) {
  margin-bottom: 20px;
}
.we-produce__card-img {
  max-width: 464px;
  margin: 0 auto;
  aspect-ratio: 464/348;
  overflow: hidden;
}
.we-produce__card-img img {
  width: 100%;
  object-fit: cover;
}
.we-produce__card-title {
  flex: 1 1 auto;
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}
.we-produce__card-title:not(:last-child) {
  margin-bottom: 50px;
}
.we-produce__card-link {
  max-width: 100%;
}.proposals {
  margin-bottom: 140px;
}
.proposals__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.proposals__btn {
  max-width: 357px;
  width: 100%;
}
.proposals__slider {
  overflow: visible;
  min-width: 0;
}
.proposals__slider:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 74.99875em) {
  .we-produce__card {
    padding: 24px 20px;
  }
}
@media (max-width: 61.99875em) {
  .hero {
    padding-top: 10px;
  }
  .hero__content {
    gap: 37px;
  }
  .hero__item {
    padding: 16px;
    min-height: 80px;
  }
  .hero__descr {
    border-radius: 10px;
    padding: 14px 20px;
  }
}
@media (max-width: 47.99875em) {
  .hero {
    margin-bottom: 70px;
  }
  .hero__body {
    gap: 30px;
    grid-template-columns: 1fr;
  }
  .hero__title {
    order: -1;
  }
  .hero__inner {
    grid-row: auto;
    grid-column: auto;
    gap: 62px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: -30%;
  }
  .hero__content {
    max-width: none;
  }
  .hero__items {
    gap: 10px;
  }
  .hero__item {
    width: calc(50% - 10px);
  }
  .hero__item-title {
    font-size: 20px;
  }
  .hero__item-img {
    max-width: 46px;
  }
  .hero__descr {
    max-width: fit-content;
    margin-right: -20px;
    margin-left: 100px;
  }
  .hero__img {
    order: -1;
    margin: -30px -20px 0;
  }
  .we-produce {
    margin-bottom: 70px;
  }
  .we-produce__container {
    display: grid;
    min-width: 0;
  }
  .we-produce__head {
    margin-bottom: 0;
    display: contents;
  }
  .we-produce__title {
    margin-bottom: 30px;
  }
  .we-produce__btn {
    order: 1;
    margin-top: 24px;
  }
  .we-produce__slider:not(:last-child) {
    margin-bottom: 16px;
  }
  .we-produce__card > *:not(:last-child) {
    margin-bottom: 12px;
  }
  .we-produce__card-title {
    font-size: 20px;
  }
  .we-produce__card-title:not(:last-child) {
    margin-bottom: 20px;
  }
  .we-produce__bottom:not(:last-child) {
    margin-bottom: 23px;
  }
  .proposals {
    margin-bottom: 70px;
  }
  .proposals__container {
    display: grid;
    min-width: 0;
  }
  .proposals__head {
    margin-bottom: 0;
    display: contents;
  }
  .proposals__title {
    margin-bottom: 30px;
  }
  .proposals__btn {
    order: 1;
    margin-top: 23px;
  }
  .proposals__slider:not(:last-child) {
    margin-bottom: 16px;
  }
  .proposals__bottom:not(:last-child) {
    margin-bottom: 23px;
  }
}
@media (max-width: 29.99875em) {
  .hero__inner {
    margin-top: -50%;
  }
  .hero__descr {
    font-size: 22px;
  }
  .we-produce__btn {
    max-width: 100%;
  }
  .we-produce__card {
    border-radius: 12px;
  }
  .we-produce__card-title:not(:last-child) {
    margin-bottom: 12px;
  }
  .proposals__btn {
    max-width: 100%;
  }
}
@media (max-width: 24.37375em) {
  .hero__inner {
    margin-top: -70%;
  }
}
@media (max-width: 22.49875em) {
  .hero__descr {
    margin-left: 50px;
  }
}
@media (min-width: 29.99875em) and (max-width: 110em) {
  .hero__descr {
    font-size: clamp( 22px , 12.250558585px  +  2.0312182622vw , 48px );
  }
}
@media (min-width: 47.99875em) and (max-width: 110em) {
  .we-produce__card-title {
    font-size: clamp( 20px , 9.1617910929px  +  1.4112618697vw , 34px );
  }
}
@media (min-width: 47.99875em) {
  .hero__title {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .hero__img {
    grid-column: 1/-1;
    grid-row: 1/3;
    max-width: 67%;
    margin-left: auto;
  }
}
@media (min-width: 61.99875em) {
  .hero__img {
    margin-top: -116px;
    margin-right: 8%;
  }
}
@media (min-width: 110em) {
  .hero__inner {
    padding-bottom: 127px;
  }
  .hero__descr {
    font-size: 48px;
  }
  .we-produce__card-title {
    font-size: 34px;
  }
}