.proposals {
  margin-bottom: 140px;
}
.proposals__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.proposals__btn {
  max-width: 357px;
  width: 100%;
}
.proposals__slider {
  overflow: visible;
  min-width: 0;
}
.proposals__slider:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 47.99875em) {
  .proposals {
    margin-bottom: 70px;
  }
  .proposals__container {
    display: grid;
    min-width: 0;
  }
  .proposals__head {
    margin-bottom: 0;
    display: contents;
  }
  .proposals__title {
    margin-bottom: 30px;
  }
  .proposals__btn {
    order: 1;
    margin-top: 23px;
  }
  .proposals__slider:not(:last-child) {
    margin-bottom: 16px;
  }
  .proposals__bottom:not(:last-child) {
    margin-bottom: 23px;
  }
}
@media (max-width: 29.99875em) {
  .proposals__btn {
    max-width: 100%;
  }
}