.reviews {
  margin-bottom: 140px;
}
.reviews__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.reviews__btn {
  max-width: 357px;
  width: 100%;
}
.reviews__slider {
  overflow: visible;
  min-width: 0;
}
.reviews__slider:not(:last-child) {
  margin-bottom: 30px;
}
.reviews__card {
  border-radius: 30px;
  padding: 30px 30px 50px 30px;
  background-color: var(--grey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.reviews__card-img {
  border-radius: 30px;
  overflow: hidden;
  display: grid;
}
.reviews__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews__card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.reviews__card-title {
  font-weight: 600;
  line-height: 110%;
  word-break: break-word;
}
@media (max-width: 61.99875em) {
  .reviews__card {
    border-radius: 20px;
    padding: 20px;
  }
  .reviews__card {
    gap: 16px;
  }
  .reviews__card-img {
    border-radius: 20px;
  }
}
@media (max-width: 47.99875em) {
  .reviews {
    margin-bottom: 70px;
  }
  .reviews__container {
    display: grid;
    min-width: 0;
  }
  .reviews__head {
    margin-bottom: 0;
    display: contents;
  }
  .reviews__title {
    margin-bottom: 30px;
  }
  .reviews__btn {
    order: 1;
    margin-top: 24px;
  }
  .reviews__slider:not(:last-child) {
    margin-bottom: 16px;
  }
  .reviews__bottom:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 29.99875em) {
  .reviews__btn {
    max-width: 100%;
  }
  .reviews__card {
    gap: 12px;
  }
  .reviews__card-bottom {
    font-size: 14px;
  }
}
@media (min-width: 29.99875em) and (max-width: 110em) {
  .reviews__card-bottom {
    font-size: clamp( 14px , 11.7501289042px  +  0.4687426759vw , 20px );
  }
}
@media (min-width: 110em) {
  .reviews__card-bottom {
    font-size: 20px;
  }
}